<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex align-items-center mt-3 mb-4">
    <%= image_tag asset_path('logo_ico.svg'), class: "mr-3", width: "50" %>
    <h3 class="text-uppercase mb-0"><b>Factoring</b></h3>
  </div>
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link pt-3 pb-3 text-light" id="v-pills-tab" href="#" role="tab" aria-controls="v-pills" aria-selected="false">
      <%= image_tag('advance_ico.svg', class: 'side-ico') %> Inicio
    </a>
    <a class="nav-link active pt-3 pb-3 text-light" id="v-pills-tab" href="#" role="tab" aria-controls="v-pills" aria-selected="true">
      <%= image_tag('advance_ico.svg', class: 'side-ico') %> Anticipar
    </a>
    <a class="nav-link pt-3 pb-3 text-light" id="v-pills-tab" href="#" role="tab" aria-controls="v-pills" aria-selected="false">
      <%= image_tag('advance_ico.svg', class: 'side-ico') %> Proveedores
    </a>
    <a class="nav-link pt-3 pb-3 text-light" id="v-pills-tab" href="#" role="tab" aria-controls="v-pills" aria-selected="false">
      <%= image_tag('advance_ico.svg', class: 'side-ico') %> Créditos
    </a>
    <a class="nav-link pt-3 pb-3 text-light" id="v-pills-tab" href="#" role="tab" aria-controls="v-pills" aria-selected="false">
      <%= image_tag('advance_ico.svg', class: 'side-ico') %> Categoría
    </a>
    <a class="nav-link pt-3 pb-3 text-light" id="v-pills-tab" href="#" role="tab" aria-controls="v-pills" aria-selected="false">
      <%= image_tag('advance_ico.svg', class: 'side-ico') %> Configuración
    </a>
    <a class="nav-link pt-3 pb-3 text-light" id="v-pills-tab" href="#" role="tab" aria-controls="v-pills" aria-selected="false">
      <%= image_tag('advance_ico.svg', class: 'side-ico') %> Soporte
    </a>
  </div>
</div>